<div class="home-view">
    <div class="side-menu">
        <h1>Bloc Chat</h1>
        <div ng-controller="ModalCtrl as modal">
            <!-- open the modal when you click the button -->
            <button ng-click="modal.open()" type="button">New room</button>
        </div>

        <div class="room-link" ng-repeat="room in home.rooms track by $index">
            <div ng-click="home.setCurrentRoom(room)">{{room.$value}}</div>
        </div>
    </div>
    <main class="message-content">
        <h3 class="room-header">
            {{ home.currentRoom.$value }}
        </h3>
        <div class="room-messages">
            <div class="message" ng-repeat="message in home.currentRoom.currentMessages">
                <div class="message-username">{{ message.username }}</div>
                <div class="message-timestamp">{{ message.sentAt }}</div>
                <div class="message-content">{{ message.content }}</div>
            </div>
        </div>
    </main>
</div>
