<div class="home-view">
    <div class="side-menu">
        <h1>Bloc Chat</h1>
        <div ng-controller="ModalCtrl as modal">
            <!-- open the modal when you click the button -->
            <button ng-click="modal.open()" type="button">New room</button>
        </div>

        <div ng-repeat="room in home.rooms track by $index">
            <div>{{room.$value}}</div>
        </div>
    </div>
    <main class="message-content">
        <h3 class="room-header">
            {{ home.rooms[0] }}
        </h3>
        <div class="room-messages">
            {{ home.messages.getByRoomId(home.rooms[0].$id).username }}
        </div>
    </main>
</div>
